<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CENS 453 - {{ titulo }}</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Estilos adicionales por página -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1>CENTRO EDUCATIVO DE NIVEL SECUNDARIO </h1>
            <nav>
                <a href="{{ url_for('inicio') }}">Inicio</a>
                <a href="{{ url_for('nosotros') }}">Nosotros</a>
                <a href="{{ url_for('contacto') }}">Contacto</a>
                <a href="{{ url_for('cursos') }}">Oferta Educativa</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 • CFL 402 – Escobar • Powered by Curso de Programador/a.
            Todos los derechos reservados.</p>
          <a href="https://wa.me/348438555" target="_blank">WhatsApp</a>
        </div>
    </footer>
</body>
</html>
